* {
    margin: 0;
    padding: 0;
}

body {
    background: #cbb1cb;
}

.container {
    margin: 120px auto 120px;
    width: 40%;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 5px 5px;
}

.container h2 {
    text-align: center;
}

input[type="text"] {
    width: 60%;
    margin-top: 20px;
    margin-left: 25px;
    height: 25px;
    border: none;
}

span {
    margin-left: 35px;
}

button {
    background: green;
    color: #fff;
    height: 30px;
    border: none;
    width: 70%;
    border-radius: 10px;
    margin: auto;
    margin-left: 100px;
    margin-top: 30px;
    cursor: pointer;
}

.guide {
    text-align: center;
    margin-top: 15px;
}

.guide h3 {
    margin: 10px;
}

.guide p {
    margin: 5px;
}

.result {
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

@media screen and (max-width: 667px) {
    .container {
        width: 60%;
    }

    input[type="text"] {
        width: 45%;
        margin-top: 20px;
        margin-left: 8px;
    }

    span {
        margin-left: 2px;
    }

    button {
        width: 90%;
        margin-top: 20px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 70%;
    }

    button {
        width: 90%;
        margin-left: 10px;
    }

    .result {
        font-size: 20px;
    }

    .guide {
        font-size: 20px;
    }

    span {
        font-size: 20px;
    }
}
